@font-face {
    font-family: 'ORCA';
    src: url(OCRAEXT.ttf);
    font-family: 'UbuntuC';
    src: url(Ubuntu-C.ttf);
}
#body {
    background-color: #000000;
    font-family: 'UbuntuC', sans-serif;
    color: #FFFFFF;
    font-size: 3em;
    margin-left: -3em;
}
.H1 {
    font-family: 'UbuntuC', sans-serif;
    font-size: 1.2em;
}
.widm-logo-blur-holder {
    height: 95%;
    width: 100%;
    position: fixed;
    z-index: -5;
    margin-left: 3em;
}
.widm-logo-blur {
    height: 100%;
    float: right;
    position: relative;
}
.TB {
    display: table;
}
.TR {
    display: table-row;
}
.TD {
    display: table-cell;
}
.contentholder {
    display: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}
#WIDM_LOGO {
    height: 3em;
    vertical-align: middle;
    margin-right: 1em;
}
.input-bttn{
    background-image: url(../images/Bttn_Green.png);
    border: none;
    width: 3.5em;
    height: 3.5em;
    background-size: cover;
    border-radius: 0.7em;
    display: inline-block;
    vertical-align: middle;
}
.input-bttn:hover {
    background-image: url(../images/Bttn_Green_In.png);
}
.input-bttn-txt {
    font-size: 0.9em;
    vertical-align: bottom;
    margin-left: 1em;
}
.input-bttn-holder {
    display: block;
    margin-bottom: 1em;
}
.input-bttn-wrapper {
    display: block;
    column-count: 2;
}

#LOGON {
    display: auto;
}
#QUESTIONA, #QUESTIONB {
    display: none;
    vertical-align: middle;
}

.logon {
    vertical-align: middle;
    height: calc(100vh - 1.5em);
}
.logon_input {
    height: 2em;
    width: 10em;
    font-size: 1em;
    color: #404040;
    background: transparent;
    border: none;
    transition: color .3s ease-in-out;
}
.logon_input:hover {
    color: #FFFFFF;
}
.logon_submit {
    height: 2em;
    width: 10em;
    font-size: 1em;
    color: #404040;
    background: transparent;
    border: none;
    transition: color .3s ease-in-out;
    text-align: left;
}
.logon_submit:hover {
    color: #77FF77;
}